.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-pic {
}
.portfolio-item {
}
.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-type {
  font-weight: 400;
  color: #434455;
}
